
* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    margin: 0;
}
.c1{
	position: absolute;
	top: 30px;
	left:30px;
	width: 120px;
	height: 120px;
}
.c2{
	position: absolute;
	top: 350px;
	left:1130px;
	width:400px;
	heigth:400px;
}


.header {
    padding: 80px;
    text-align: center;
    color: white;
}
.header h2 {
	font-size: 30px;
}
.zhuye {
    padding: 120px;
    color: white;
	position: absolute;
}
.but1{
	font-size: 200%;
}
.zhuye button{
	position: absolute;
	border-style:none;
	background:transparent;
	border-width: 0px;
	opacity:100%;/*透明度*/
	color: white;
	bottom: 200px;
	right: -1200px;
}






